[submodule "src/emmet"]
	path = lib/emmet
	url = https://github.com/emmetio/emmet.git
[submodule "lib/emmet-quick-match"]
	path = lib/emmet-quick-match
	url = https://github.com/eight04/emmet.git
	branch = dev-quick-match
