[submodule "src/emmet"]
	path = lib/emmet
	url = https://github.com/emmetio/emmet.git
[submodule "lib/emmet-matcher-zen-coding"]
	path = lib/emmet-matcher-zen-coding
	url = https://github.com/eight04/emmet.git
	branch = dev-matcher-zen-coding
[submodule "lib/emmet-better-matcher"]
	path = lib/emmet-better-matcher
	url = https://github.com/eight04/emmet.git
	branch = dev-better-matcher
[submodule "lib/emmet-quick-match"]
	path = lib/emmet-quick-match
	url = https://github.com/eight04/emmet.git
	branch = dev-quick-match
